{% extends 'base.html' %}
{% block title %}Author List{% endblock title %}
{% block body %}
<h1>Список авторов:</h1>
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Detail</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for author in author_list %}
        <tr>
            <th scope="row">#</th>
            <td><a href="{% url 'spravochniki:author' author.pk %}">{{ author }}</a></td>
            <td><button type="submit" class="btn btn-warning"><a href="{% url 'spravochniki:author_update' author.pk %}">Update</a></button></td>
            <td><button type="submit" class="btn btn-danger"><a href="{% url 'spravochniki:author_delete' author.pk %}">Delete</a></button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3><a href="{% url 'spravochniki:author_create' %}">Создать нового автора</a></h3>
<h3><a href="{% url 'home' %}">Главная страница</h3>
{% endblock body %}