<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список авторов</title>
</head>
<body>
    <h1>Список авторов:</h1>
    <ul>
        {% for author in author_list %}
            <li>Автор №{{ author.pk }} <a href="{% url 'author' author.pk %}">{{ author }}</a>
                <a href="{% url 'author_update' author.pk %}">Update</a>
                <a href="{% url 'author_delete' author.pk %}">Delete</a></li>
        {% endfor %}
    </ul>
    <h3><a href="{% url 'author_create' %}">Создать нового автора</a></h3>
    <h3><a href="{% url 'home' %}">Главная страница</h3>
</body>
</html>