{% extends 'base.html' %}
{% block title %}Genre List{% endblock title %}
{% block body %}
    <h1>Список жанров:</h1>
    <ul>
        {% for genre in genre_list %}
            <li>Жанр №{{ genre.pk }} <a href="{% url 'spravochniki:genre' genre.pk %}">{{ genre }}</a>
                <a href="{% url 'spravochniki:genre_update' genre.pk %}">Update</a>
                <a href="{% url 'spravochniki:genre_delete' genre.pk %}">Delete</a></li>
        {% endfor %}
    </ul>
    <h3><a href="{% url 'spravochniki:genre_create' %}">Создать новый жанр</a></h3>
    <h3><a href="{% url 'home' %}">Главная страница</h3>
{% endblock body %}