{% extends 'base.html' %}
{% block title %}Homepage{% endblock title %}
{% block body %}
    <h1>Список всех справочников:</h1>
    <ul>
        <li><a href="{% url 'spravochniki:author-list' %}">Авторы</li>
        <li><a href="{% url 'spravochniki:series-list' %}">Серии книг</li>
        <li><a href="{% url 'spravochniki:genre-list' %}">Жанры</li>
        <li><a href="{% url 'spravochniki:publishing_house-list' %}">Издательства</li>
        <li><a href="{% url 'books:book-list' %}">Книги</li>
    </ul>
{% endblock body %}