{% extends 'base.html' %}
{% block title %}Series List{% endblock title %}
{% block body %}
    <h1>Список серий:</h1>
    <ul>
        {% for series in series_list %}
            <li>Серия №{{ series.pk }} <a href="{% url 'spravochniki:series' series.pk %}">{{ series }}</a>
                <a href="{% url 'spravochniki:series_update' series.pk %}">Update</a>
                <a href="{% url 'spravochniki:series_delete' series.pk %}">Delete</a></li>
        {% endfor %}
    </ul>
    <h3><a href="{% url 'spravochniki:series_create' %}">Создать новую серию</a></h3>
    <h3><a href="{% url 'home' %}">Главная страница</h3>
{% endblock body %}