<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список серий книг</title>
</head>
<body>
    <h1>Список серий книг:</h1>
    <ul>
        {% for author in author_list %}
            <li>Автор №{{ author.pk }} <a href="{% url 'author' author.pk %}">{{ author }}</a></li>
        {% endfor %}
    </ul>
    <h3><a href="..">Главная страница</h3>
    </body>
</html>