<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список жанров</title>
</head>
<body>
    <h1>Список жанров:</h1>
    <ul>
        {% for genre in genre_list %}
            <li>Жанр №{{ genre.pk }} <a href="{% url 'genre' genre.pk %}">{{ genre }}</a></li>
        {% endfor %}
    </ul>
    <h3><a href="..">Главная страница</h3>
    </body>
</html>